*.o
/main
/act.dat
/best.gen.dat
/body.dat
/curv.dat
/fitness.dat
/phenotype.dat
/seed.dat
/__pycache__
/testExample
/nv.dat
/nv2.dat
/phenotype2.dat
/w_verb.dat
/tests
/test_output/*.dat
/neuroml/*.dat
/neuroml/report.txt
/test_files/test_py_cpp
/neuroml/__pycache__
/tests2
/neuroml/*.mod
/neuroml/arm64
*_nrn.py
/neuroml/*.gv
/neuroml/Worm2DNet.gv.png
